*{
    margin: 0;
    padding: 0;
}
.post{
    border: 2px solid black;
    margin: 40px;
    padding: 40px;
    position: relative; 
}
.post h2{
    margin-bottom: 20px;
}
.post text{
    max-width: 700px;
}
.post button{
    font-size:20px;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
    cursor: pointer;
}
.post .marker{
    border: 1px solid black;
    padding: 10px 150px 10px 10px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, -50%);
    background-color: white;
}
nav{
    padding: 0;
    position: sticky;
    width: 2,5%;
    bottom: -150px; 
    right: 100px; 
    z-index: 10;
}
nav a{
    font-size: 25px;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}
